SKIP_PREFLIGHT_CHECK=true

# Region specific api endpoints
REACT_APP_API_NA=https://api.contentstack.io
REACT_APP_API_EU=https://eu-api.contentstack.com
REACT_APP_API_AZURE_NA=https://azure-na-api.contentstack.com
REACT_APP_API_AZURE_EU=https://azure-eu-api.contentstack.com
REACT_APP_API_GCP_NA=https://gcp-na-api.contentstack.com

# Gemini API Key (from Google AI Studio)
REACT_APP_GEMINI_API_KEY=

# App host url
REACT_APP_HOST_URL=
